<header class="header">
  <nav class="navbar">
    <div class="navbar-brand">
      <img class="header-logo" src="{{uiRootPath}}/img/logo.svg">
      <a class="navbar-item logo-text" href="{{or site.url (or siteRootUrl siteRootPath)}}">{{site.title}}</a>
      <button class="navbar-burger" data-target="topbar-nav">
        <span></span>
        <span></span>
        <span></span>
      </button>
    </div>
    <div id="topbar-nav" class="navbar-menu">
      <div class="navbar-end">
        <a class="navbar-item current" href="/index.html">Documentation</a>
        <a class="navbar-item" target="blank" href="https://forum.dfinity.org/">Forums</a>
        <a class="navbar-item" target="blank" href="https://www.twitter.com/dfinitydev">
          <img src="{{uiRootPath}}/img/social/twitter-icon.svg">
        </a>
      </div>
    </div>
  </nav>
</header>
