<header class="header">
  <nav class="navbar">
    <div class="navbar-brand">
      <img class="header-logo" src="{{uiRootPath}}/img/logo.svg">
      <a class="header-logo-text" href="{{or site.url (or siteRootUrl siteRootPath)}}">{{site.title}}</a>
    </div>
    <button class="navbar-burger" data-target="topbar-nav">
      <span></span>
      <span></span>
      <span></span>
    </button>
    <div id="topbar-nav" class="navbar-menu">
      <div class="navbar-end">
        <a class="navbar-item" href="#">Home</a>
        <a class="navbar-item" href="#">FAQ</a>
        <a class="navbar-item" href="#">Developers</a>
        <a class="navbar-item" href="#">Data Centers</a>
        <a class="navbar-item" href="#">Careers</a>
        <a class="navbar-item" href="#">Media</a>
      </div>
    </div>
  </nav>
</header>
