<div class="nav-container"{{#if page.component}} data-component="{{page.component.name}}" data-version="{{page.version}}"{{/if}}>
  <aside class="nav">
{{> nav-menu}}
{{> nav-explore}}
  </aside>
</div>
