/* Styles for cards on the home page */

.body.landing {
  background: linear-gradient(#caccd1, white) fixed;
}

.body.landing main {
  width: 100%;
}

.body.landing .main-content {
  display: block;
}

.landing-hero {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.8)),
    url(../img/logo8bit.png) center 25% no-repeat;
  background-color: black;
  background-size: contain;
  background-attachment: local, fixed;
  width: 100%;
}

.landing-hero h1 {
  font-size: 2em;
  text-align: center;
  max-width: 20em;
  padding: 2em 1em;
  margin: 0 auto;
  color: white;
}

.landing-cta {
  color: white;
  font-size: 0.8em;
  text-align: center;
  padding: 1em;
}

.landing-cta pre {
  margin: auto;
  max-width: 40em;
  font-size: 1.5em;
  color: black;
  border: 1px solid white;
  border-radius: 0.5em;
  width: auto;
  padding: 0.5em;
  background: whitesmoke;
  overflow: hidden;
}

.landing-cta pre .copy-button {
  bottom: 6px;
}

.landing-pitch {
  display: block;
  background: white;
  border-radius: 2em;
  padding: 2em;
  min-height: calc(200px + 4em);
}

.landing-pitch img {
  display: block;
  margin: 0 auto;
  width: 100%;
  max-width: 200px;
  height: auto;
}

.landing-pitch h2 {
  clear: both;
  margin-top: 2em;
}

.body.landing h1.intro {
  text-align: center;
}

.body.landing .home-pitches-grid {
  margin: 0 auto;
  padding: 2em;
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 2em;
  grid-column-gap: 2em;
  max-width: 1440px;
}

.body.landing .home-cards-grid {
  margin: 0 auto;
  padding: 2em;
  display: grid;
  grid-template-columns: 1fr;
  grid-column-gap: 1em;
  grid-row-gap: 1em;
  max-width: 1440px;
}

.body.landing .home-card {
  background: #ffffff;
  border-radius: 2em;
  padding: 1em;
  position: relative;
  overflow: hidden;
  color: var(--color-content-primary);
  transition: transform 0.1s ease-out;
  /*min-height: 220px;*/
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.body.landing .home-card p {
  hyphens: none;
}

.body.landing .home-card-header {
  margin-top: 0;
  position: relative;
  z-index: 1;
  background: white;
  width: fit-content;
}

.body.landing .home-card:hover,
.body.landing .home-card:focus {
  text-decoration: none;
  color: var(--color-content-primary);
}

.body.landing .home-card:hover svg,
.body.landing .home-card:hover img,
.body.landing .home-card:focus svg,
.body.landing .home-card:focus img {
  transform: scale(1.1);
}

.body.landing .home-card svg,
.body.landing .home-card img {
  position: absolute;
  top: -12px;
  right: -10px;
  transition: transform 0.2s ease-out;
}

.body.landing .featured-articles-grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-column-gap: 1em;
  grid-row-gap: 1em;
}

.body.landing .featured-article-card {
  background: #ffffff;
  border-radius: 10px;
  box-shadow: inset 0 0 0px 1px var(--panel-border-color);
  padding: 1em;
  position: relative;
  overflow: hidden;
  color: var(--color-content-primary);
  transition: transform 0.1s ease-out;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1em;
}

.body.landing .featured-article-card:hover,
.body.landing .featured-article-card:focus {
  text-decoration: none;
  color: var(--color-content-primary);
  transform: translateY(-5px);
}

.body.landing h3.featured-article-header {
  margin-bottom: 1em;
  padding-top: 1em;
  border-top: 1px solid;
  display: inline-block;
  font-weight: 500;
}

.body.landing .featured-article-title-wrapper {
  display: flex;
  align-items: center;
}

.body.landing .featured-article-title-wrapper p {
  margin-left: 0.75em;
}

@media screen and (min-width: 768px) {
  .landing-hero h1 {
    font-size: 3em;
  }

  .body.landing .home-cards-grid,
  .body.landing .featured-articles-grid {
    grid-template-columns: 1fr 1fr;
  }

  .landing-pitch img {
    width: 50%;
    float: left;
    margin: 0 2em 0 0;
  }

  .landing-pitch:nth-of-type(odd) img {
    float: right;
    margin: 0 0 0 2em;
  }

  .landing-pitch h2 {
    margin-top: 0;
    clear: none;
  }
}

@media screen and (min-width: 1080px) {
  .body.landing .home-cards-grid,
  .body.landing .featured-articles-grid {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .body.landing .home-pitches-grid {
    grid-template-columns: 1fr 1fr;
  }
}
