footer.footer {
  background-color: var(--color-blue-grey);
  line-height: var(--footer-line-height);
  padding: 3em 0;
}

.footer-container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 12px;
}

.footer-logo {
  width: 60px;
}

.footer-nav {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas:
    'col0 col1'
    'col2 col3'
    'social social';
  margin: 3em 0;
  align-items: baseline;
}


.footer-link {
  text-decoration: none;
  opacity: 0.8;
  width: 100%;
  display: block;
  padding-bottom: 0.5em;
  color: white;
}

a.footer-link:hover,
a.footer-link:focus {
  opacity: 1;
  text-decoration: none;
}


.social-icons {
  grid-area: social;
  display: grid;
  grid-template-columns: repeat(6, 21px);
  grid-column-gap: 1em;
  margin-top: 3em;
}

.social-icon-link {
  opacity: 0.8;
}

.social-icon-link:hover,
.social-icon-link:focus {
  opacity: 1;
}

.social-icon-link svg {
  height: 21px;
  width: 21px;
}
.social-icon-link svg path {
  fill: white;
}

.footer-copyright {
  font-size: 0.75em;
  color: var(--color-content-secondary);
}

@media screen and (min-width: 1024px) {

  .footer-nav {
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 1fr;
    grid-template-areas: 'col0 col1 col2 col3 social social';
    margin: 5em 0;
  }

  .social-icons {
    margin-top: 0;
    justify-self: end;
    grid-column-gap: 1.5em;
  }

}
