/*! Adapted from the GitHub style by Vasily Polovnyov <vast@whiteants.net> */
.hljs-comment,
.hljs-quote {
  color: #998;
  font-style: italic;
}

.hljs-keyword,
.hljs-selector-tag,
.hljs-subst {
  color: #07a;
}

.hljs-number,
.hljs-literal,
.hljs-variable,
.hljs-template-variable,
.hljs-tag .hljs-attr {
  color: #690;
}

.hljs-string,
.hljs-doctag {
  color: #690;
}

.hljs-title,
.hljs-section,
.hljs-selector-id {
  color: #900;
}

.hljs-subst {
  font-weight: normal;
}

.hljs-type,
.hljs-class .hljs-title {
  color: #900;
}

.hljs-tag,
.hljs-name,
.hljs-attribute {
  color: #000080;
  font-weight: normal;
}

.hljs-regexp,
.hljs-link {
  color: #009926;
}

.hljs-symbol,
.hljs-bullet {
  color: #990073;
}

.hljs-built_in,
.hljs-builtin-name {
  color: #6f42c1;
}

.hljs-meta {
  color: #999;
}

.hljs-deletion {
  background: #fdd;
}

.hljs-addition {
  background: #dfd;
}

.hljs-emphasis {
  font-style: italic;
}

.hljs-strong {
  font-weight: var(--monospace-font-weight-bold);
}

.hljs::before {
  display: none !important;
}

[contenteditable="plaintext-only"]:focus {
    outline: none;
    box-shadow: 0px 0px 0px 1px #e1e1e1;
}

.codejar-linenumbers {
    box-shadow: 0px 0px 0px 1px #e1e1e1;
    padding-top: .75rem !important;
    mix-blend-mode: normal !important;
    border-top-left-radius: 4px !important;
    border-bottom-left-radius: 4px !important;
    text-align: center;
}

.run-button {
    position: absolute;
    z-index: 1;
    right: 3px;
    top: 8px;
    outline: 0;
    border: 0;
    background: transparent;
    display: flex;
    align-items: center;
    opacity: 0.3;
    transition: opacity 0.1s ease-out;
}

.run-button:hover,
.run-button:focus {
    opacity: 1;
    /* outline: 1px solid black; */
}

.run-button:hover .run-label {
  transform: translateX(0);
  opacity: 1;
}


.run-label {
  margin-right: 0.5em;
  line-height: 1;
  margin-top: -3px;
  font-family: var(--monospace-font-family);
  transform: translateX(50%);
  opacity: 0;
  transition: transform 0.2s ease-out, opacity 0.1s ease-out;
}

/* prevent click event path in 05-copy-code.js from including children of the button */
.copy-button * {
  pointer-events: none;
}

.copy-button {
  position: absolute;
  padding: 0 1em calc(0.85em - 11px) 1em;
  bottom: 12px;
  right: 0;
  outline: 0;
  border: 0;
  background: transparent;
  display: flex;
  align-items: center;
  transition: background 0.2s ease-out;
  background: linear-gradient(270deg, var(--pre-background) 50%, rgba(245, 245, 245, 0) 100%);
  border-radius: 0 0 4px 0;
}

.copy-button:hover,
.copy-button:focus {
  background: linear-gradient(270deg, var(--pre-background) 50%, rgba(245, 245, 245, 100%) 100%);
}

.copy-button svg {
  opacity: 0.3;
  transition: opacity 0.1s ease-out;
}

.copy-button:hover svg,
.copy-button:focus svg {
  opacity: 1;
}


.copy-button:hover .copy-label,
.copy-button:focus .copy-label {
  transform: translateX(0);
  opacity: 1;
}


.copy-label {
  margin-right: 0.5em;
  line-height: 1;
  margin-top: -3px;
  font-family: var(--monospace-font-family);
  transform: translateX(50%);
  opacity: 0;
  transition: transform 0.2s ease-out, opacity 0.1s ease-out;
}
