/*! Adapted from the GitHub style by Vasily Polovnyov <vast@whiteants.net> */
.hljs-comment,
.hljs-quote {
  color: #998;
  font-style: italic;
}

.hljs-keyword,
.hljs-selector-tag,
.hljs-subst {
  color: #333;
  font-weight: var(--monospace-font-weight-bold);
}

.hljs-number,
.hljs-literal,
.hljs-variable,
.hljs-template-variable,
.hljs-tag .hljs-attr {
  color: #008080;
}

.hljs-string,
.hljs-doctag {
  color: #d14;
}

.hljs-title,
.hljs-section,
.hljs-selector-id {
  color: #900;
  font-weight: var(--monospace-font-weight-bold);
}

.hljs-subst {
  font-weight: normal;
}

.hljs-type,
.hljs-class .hljs-title {
  color: #458;
  font-weight: var(--monospace-font-weight-bold);
}

.hljs-tag,
.hljs-name,
.hljs-attribute {
  color: #000080;
  font-weight: normal;
}

.hljs-regexp,
.hljs-link {
  color: #009926;
}

.hljs-symbol,
.hljs-bullet {
  color: #990073;
}

.hljs-built_in,
.hljs-builtin-name {
  color: #0086b3;
}

.hljs-meta {
  color: #999;
  font-weight: var(--monospace-font-weight-bold);
}

.hljs-deletion {
  background: #fdd;
}

.hljs-addition {
  background: #dfd;
}

.hljs-emphasis {
  font-style: italic;
}

.hljs-strong {
  font-weight: var(--monospace-font-weight-bold);
}

.hljs::before {
  display: none !important;
}

/* prevent click event path in 05-copy-code.js from including children of the button */
.copy-button * {
  pointer-events: none;
}

.copy-button {
  position: absolute;
  padding: 0.85em 1em;
  bottom: 0;
  right: 0;
  outline: 0;
  border: 0;
  background: transparent;
  display: flex;
  align-items: center;
  transition: opacity 0.2s ease-out;
  background: var(--pre-background);
}

.copy-button svg {
  opacity: 0.3;
  transition: opacity 0.1s ease-out;
}

.copy-button:hover svg,
.copy-button:focus svg {
  opacity: 1;
}


.copy-button:hover .copy-label,
.copy-button:focus .copy-label {
  transform: translateX(0);
  opacity: 1;
}


.copy-label {
  margin-right: 0.5em;
  line-height: 1;
  margin-top: -3px;
  font-family: var(--monospace-font-family);
  transform: translateX(50%);
  opacity: 0;
  transition: transform 0.2s ease-out, opacity 0.1s ease-out;
}