.home #content-section {
  margin-left: 18px;
  margin-right: 18px;
}

body,
p {
  color: #626262;
  font-family: 'Muli', sans-serif;
  font-size: 1rem;
}

a:link {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

#content-section .container::after {
  content: ' ';
  display: grid;
  clear: both;
}

.center {
  margin-right: auto;
  margin-left: auto;
  float: none !important;
  text-align: center;
  height: 48px;
  width: 48px;
  display: block;
}

#content-section {
  padding-top: 30px;
  padding-bottom: 0;
  margin-top: 0;
  background-color: #fff;
}

/* .row-content {
  display: block;
  padding: 12px 0 12px 0;
  background-color: var(--color-smoke-30);
} */

.row-type {
  margin-left: 9px;
  border-right: solid 5px var(--color-smoke-90);
  border-left: solid 5px var(--color-smoke-90);
}

.row-type > p {
  font-size: 1rem;
  margin: 100px 0 0 10px;
  padding-left: 5px;
  vertical-align: middle;
}

p.row-verb {
  font-size: 1.75rem;
  margin: 4px 0 0 10px;
  color: var(--color-grey-90);
}

div.four-columns {
  display: grid;
  grid-template-columns: 15% repeat(3, 1fr);
  grid-column-gap: 15px;
  grid-template-rows: auto;
  grid-template-areas: "rowtype box1 box2 box3";
  grid-row-gap: 30px;
  margin: 0 0 30px 0;
}

.rowtype {
  grid-area: row-type;
  display: flex;
  flex-direction: column;
}

.box1 {
  grid-area: box1;
  display: flex;
  flex-direction: column;
}

.box2 {
  grid-area: box2;
  display: flex;
  flex-direction: column;
}

.box3 {
  grid-area: box3;
  display: flex;
  flex-direction: column;
}

.home .four-columns > .sectionbody {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: -0.75rem 0 0 -0.75rem;
}

.four-columms p.tagline {
  font-size: 13px;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  margin: 0;
  padding: 10px 0;
}

p.service-name {
  text-align: center;
  font-size: 1.75rem;
  color: #3c3f42;
  font-weight: 200;
  line-height: 38px;
  margin: 10px 10px 10px 10px;
  padding-top: 18px;
  font-family: 'Muli', 'Roboto', sans-serif;
}

.four-columns .center {
  width: 48px;
  height: 48px;
}

div.three-columns {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 15px;
  grid-template-rows: auto;
  grid-template-areas: "box1 box2 box3";
  grid-row-gap: 30px;
  margin: 0 0 30px 0;
}

.home .three-columns > .sectionbody {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

div.three-columns::before {
  content: ' ';
  display: grid;
}

div.three-columns::after {
  content: ' ';
  display: grid;
  clear: both;
}

.three-columns .box1 {
  border-left: solid 5px var(--color-smoke-90);
}

.three-columns .box3 {
  border-right: solid 5px var(--color-smoke-90);
}

.three-columms p.tagline {
  font-size: 13px;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  margin: 0;
}

@media (min-width: 768px) and (max-width: 991px) {
  div.four-columns > div {
    vertical-align: middle;
  }
}
