.toc {
  font-size: 0.875rem;
}

.toc.sidebar {
  background: var(--nav-background);
}

.toc-menu {
  border: 0 solid var(--color-smoke-90);
  border-width: 0 0 0 0.25rem;
  position: absolute;
  top: 112px;
  margin-bottom: 1.5rem;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}

.toc.sidebar .toc-menu {
  width: var(--nav-width);
  position: sticky;
  top: var(--toolbar-height) + 50px;
  max-height: var(--height-nav);
  overflow-y: auto;
  -ms-overflow-style: none;
}

.toc.embedded .toc-menu {
  margin-top: 1rem;
}

.toc-menu::-webkit-scrollbar {
  width: 0;
}

.toc .toc-menu h3 {
  font-size: 1rem;
  font-weight: var(--body-font-weight-bold);
  margin: 15px 18px 20px 10px;
  line-height: 1;
  color: var(--color-gray-50);
}

.toc .toc-menu ul {
  list-style: none;
  margin: 0 18px 0 10px;
  padding: 0;
  line-height: 1.2;
}

.toc .toc-menu h3,
.toc .toc-menu ul {
  margin-left: 0.75rem;
}

.toc .toc-menu li {
  margin: 0.5rem 0 0;
}

.toc a {
  color: inherit;
  display: block;
  text-decoration: none;
}

.toc a:hover {
  color: var(--color-link);
}

.toc a.is-active {
  font-weight: var(--body-font-weight-bold);
  letter-spacing: -0.008em;
}

.toc a.is-active:focus,
.toc a.is-active:hover {
  color: inherit;
}

.toc code {
  line-height: 1.125;
}

.toc .panels {
  display: flex;
  flex-direction: column;
  height: inherit;
}

.toc .is-current-page {
  font-weight: var(--body-font-weight-bold);
}

@media screen and (max-width: 1200px) {
  .toc.sidebar {
    display: none;
  }

  .toc-menu {
    display: none;
  }
}
