.toc {
  /* basically the same as the .doc element so that the flex treats them the same */
  flex: auto;
  margin: 1rem auto;
  max-width: 40rem;
  width: 100%;
  padding: 0 1rem;
  display: none;
}

.toc-menu {
  color: var(--color-light-text-secondary);
  width: auto;
  margin-bottom: 1.5rem;
  padding: 0.5rem;
}

.toc .toc-menu ul {
  font-size: 0.875rem;
  line-height: 2;
  list-style: none;
  padding: 0;
}

.toc .toc-menu h3 {
  font-size: 0.777rem;
  margin: 0;
  text-transform: uppercase;
}

.toc-menu a {
  color: inherit;
  display: block;
  text-decoration: none;
  line-height: 1.3;
  margin-bottom: 0.6rem;
}

.toc-menu a:hover {
  color: var(--color-content-highlight);
  text-decoration: none;
}

.toc-menu a.is-active {
  color: var(--color-light-text-body);
}

@media screen and (min-width: 1024px) {
  .toc {
    display: inline-table;
    min-width: 10rem;
    max-width: 15rem;
    padding: 1rem 0;
    position: sticky;
    top: calc(var(--toolbar-height) + 6rem);
  }
}
