@font-face {
  font-display: swap;
  font-family: "Sharp Sans";
  font-style: normal;
  font-weight: 400;
  src: local("Sharp Sans Book"), url(../font/SharpSansDispNo1-Medium.woff) format("woff");
}
@font-face {
  font-display: swap;
  font-family: "Sharp Sans";
  font-style: normal;
  font-weight: 500;
  src: local("Sharp Sans SemiBold"), url(../font/SharpSansDispNo1-Semibold.woff) format("woff");
}

@font-face {
  font-display: swap;
  font-family: "Sharp Sans";
  font-style: normal;
  font-weight: 600;
  src: local("Sharp Sans Bold"), url(../font/SharpSansDispNo1-Bold.woff) format("woff");
}

@font-face {
  font-display: swap;
  font-family: "Sharp Sans";
  font-style: normal;
  font-weight: 700;
  src: local("Sharp Sans"), url(../font/SharpSansDispNo1-Black.woff) format("woff");
}
