:root {

  /* DFINITY VARIABLES */
  --navivation-height: 80px;
  --nav-width: 250px;
  
  --color-content-primary: rgba(51,51,51,1);
  --color-content-secondary: #91939b;
  --color-content-white: #fff;
  --color-content-white--faded: rgba(255,255,255,0.6);
  --color-content-highlight: #1A75FF;
  --color-white: #fff;
  --color-highlight: #1A75FF;
  --color-blue-grey: #292A2E;

  
  --spacing-xs: 1em;
  --spacing-s: 1.5em;
  --spacing-m: 2em;
  --spacing-l: 3em;
  --spacing-xl: 4em;
  
  --width-mobile: 30em;
  --width-tablet: 48em;
  --width-desktop: 1200px;


  /* colors */
  --color-white: #fff;
  --color-smoke-10: #fefefe;
  --color-smoke-30: #fafafa;
  --color-smoke-50: #f5f5f5;
  --color-smoke-70: #f0f0f0;
  --color-smoke-90: #e1e1e1;
  --color-gray-10: #c1c1c1;
  --color-gray-30: #8e8e8e;
  --color-gray-50: #808080;
  --color-gray-70: #5d5d5d;
  --color-jet-20: #4a4a4a;
  --color-jet-30: #424242;
  --color-jet-50: #333;
  --color-jet-70: #222;
  --color-jet-80: #191919;
  --color-black: #000;
  /* fonts */
  --rem-base: 16; /* used to compute rem value from desired pixel value (e.g., calc(18 / var(--rem-base) * 1rem) = 18px) */
  --body-font-size: 1em; /* 17px */
  --body-font-size--desktop: 1.125em; /* 18px */
  --body-font-size--print: 0.9375em; /* 15px */
  --body-line-height: 1.15;
  --body-font-color: var(--color-jet-70);
  --body-font-family: 'Circular Std', sans-serif;
  --body-font-weight-bold: 600;
  --monospace-font-family: "Roboto Mono", monospace;
  --monospace-font-weight-bold: 600;
  /* base */
  --body-background: var(--color-white);
  --panel-background: var(--color-white);
  --panel-border-color: var(--color-smoke-70);
  /* navbar */
  --navbar-background: var(--color-white);
  --navbar-font-color: var(--color-content-primary);
  /* --navbar_hover-background: var(--color-black); */
  --navbar-button-background: var(--color-white);
  --navbar-button-border-color: var(--panel-border-color);
  --navbar-button-font-color: var(--body-font-color);
  --navbar-menu-border-color: var(--panel-border-color);
  --navbar-menu-background: var(--color-white);
  --navbar-menu-font-color: var(--body-font-color);
  --navbar-menu_hover-background: var(--color-smoke-50);
  /* nav */
  --nav-background: var(--panel-background);
  --nav-border-color: var(--color-gray-10);
  --nav-line-height: 1.35;
  --nav-heading-font-color: var(--color-jet-30);
  --nav-muted-color: var(--color-gray-70);
  --nav-panel-divider-color: var(--panel-border-color);
  --nav-secondary-background: var(--color-smoke-70);
  /* toolbar */
  --toolbar-background: var(--panel-background);
  --toolbar-border-color: var(--panel-border-color);
  --toolbar-font-color: var(--color-gray-70);
  --toolbar-muted-color: var(--color-gray-30);
  --page-version-menu-background: var(--color-smoke-70);
  --page-version-missing-font-color: var(--color-gray-30);
  /* admonitions */
  --caution-color: var(--color-smoke-70);
  --caution-on-color: #522785;
  --important-color: var(--color-smoke-70);
  --important-on-color: #FBB03B;
  --note-color: var(--color-smoke-70);
  --note-on-color: #29ABE2;
  --tip-color: var(--color-smoke-70);
  --tip-on-color:  #ED1E79;
  --warning-color:  var(--color-smoke-70);
  --warning-on-color: #d32f2f;
  /* doc */
  --doc-font-color: var(--color-jet-50);
  --doc-font-size: inherit;
  --doc-font-size--desktop: calc(17 / var(--rem-base) * 1rem);
  --doc-line-height: 1.6;
  --doc-margin: 0 auto;
  --doc-margin--desktop: 0 2rem;
  --heading-font-color: var(--color-jet-80);
  --heading-font-weight: normal;
  --alt-heading-font-weight: var(--body-font-weight-bold);
  --section-divider-color: var(--panel-border-color);
  --link-font-color: var(--color-content-highlight);
  --link_hover-font-color: #1366e2;
  --link_unresolved-font-color: var(--important-color);
  --abstract-background: var(--color-smoke-70);
  --abstract-font-color: var(--color-jet-20);
  --abstract-border-color: var(--panel-border-color);
  --admonition-background: var(--panel-background);
  --admonition-label-font-weight: var(--body-font-weight-bold);
  --caption-font-color: var(--color-gray-70);
  --caption-font-weight: var(--body-font-weight-bold);
  --code-background: var(--panel-background);
  --code-font-color: var(--body-font-color);
  --example-background: var(--color-white);
  --example-border-color: var(--color-gray-70);
  --kbd-background: var(--panel-background);
  --kbd-border-color: var(--color-gray-10);
  --pre-background: var(--color-smoke-50);
  --pre-border-color: var(--color-smoke-90);
  --pre-annotation-font-color: var(--color-gray-10);
  --quote-background: var(--panel-background);
  --quote-border-color: var(--color-gray-70);
  --quote-font-color: var(--color-gray-70);
  --quote-attribution-font-color: var(--color-gray-30);
  --sidebar-background: var(--color-smoke-90);
  --table-border-color: var(--panel-border-color);
  /* footer */
  --footer-line-height: var(--doc-line-height);
  --footer-background: var(--color-smoke-90);
  --footer-font-color: var(--color-gray-70);
  --footer-link-font-color: var(--color-jet-80);
  /* dimensions */
  --navbar-height: calc(80 / var(--rem-base) * 1rem);
  --toolbar-height: calc(45 / var(--rem-base) * 1rem);
  --drawer-height: var(--toolbar-height);
  --body-top: var(--navbar-height);
  --body-min-height: calc(100vh - var(--body-top));
  --nav-height: calc(var(--body-min-height) - var(--toolbar-height));
  --nav-height--desktop: var(--body-min-height);
  --nav-panel-height: calc(var(--nav-height) - var(--drawer-height));
  --nav-panel-height--desktop: calc(var(--nav-height--desktop) - var(--drawer-height));
  --nav-width: calc(270 / var(--rem-base) * 1rem);
  --doc-max-width: calc(720 / var(--rem-base) * 1rem);
  --doc-max-width--desktop: calc(828 / var(--rem-base) * 1rem);
  /* stacking */
  --z-index-nav: 1;
  --z-index-toolbar: 2;
  --z-index-page-version-menu: 3;
  --z-index-navbar: 4;

}
